<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Finished"></nz-step>
    <nz-step nzTitle="In Progress"></nz-step>
    <nz-step nzTitle="Waiting"></nz-step>
    <nz-step nzTitle="4"></nz-step>
</nz-steps>

<div class="steps-content">
    <form nz-form [formGroup]="validateForm">
        <ng-container formArrayName="pasos" *ngFor="let item of validateForm.get('pasos')['controls']; let i = index" >
            <div  [formGroupName]="i">
            <pre>{{i | json}}</pre>
            </div>
            <!--  <nz-form-item >
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="primerCampo">primerCampo</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="primerCampo">
                    <input nz-input formControlName="primerCampo" id="primerCampo" />
                </nz-form-control>
            </nz-form-item> -->

        </ng-container>

    </form>
</div>

<div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Previous</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current < 3">
        <span>Next</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="current === 3">
        <span>Done</span>
    </button>
</div>

<pre>{{validateForm.value | json}}</pre>