<div nz-row nzJustify="center" >
 
    <div nz-col nz-col [nzXs]="{span: 24, offset: 0}" [nzSm]="{span: 22, offset: 0}" >
        <h1 >Presupuestos en estructuración</h1>
    </div>
    <!-- select -->
 
    <div nz-col nzOffset="20" >
        <button nz-button nzType="primary" nzShape="round" (click)="onCreate()" >Agregar</button>
    </div>
 
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="nombrePeriodo" (nzOnCancel)="handleCancel()" nzWidth="50%">
        <ng-container *nzModalContent>
            <app-form-presupuesto (valid)="isValid($event)" (validatedData)="getData($event)" [data]="data"></app-form-presupuesto>
        </ng-container>
        <div *nzModalFooter>
            <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
            <button nz-button nzType="primary" [disabled]="!valid" (click)="handleOk()">Guardar</button>
        </div>
    </nz-modal>
 
    <br>
    <br>
 
    <div nz-col  [nzXs]="{span: 24, offset: 0}" [nzSm]="{span: 22, offset: 0}">
        <nz-table #nzTablePresupuesto  nzTableLayout="fixed" [nzFrontPagination]="false" class="tabla">
            <thead>
                <tr>
                    <th nzLeft nzCustomFilter>Nombre</th>
                    <th>column 2</th>
                    <th nzRight>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let empresario of nzTableEmpresario.data" [ngClass]="{'empresariosEliminado': empresario.borrado}">
                    <td nzLeft><strong>{{ empresario.nombre }}</strong>
                        <br> {{empresario.email}}
                        <br> {{ empresario.prefijo }}-{{ empresario.celular }}
                    </td>
                    <td>
                        <p>{{ empresario.producto }}</p>
                        <ul style="padding-left: 0px;">
                            <li *ngFor="let producto of empresario.productos">
                                <div nz-row>
                                    <div nz-col [nzXs]="{ span: 23, offset: 0 }" [nzSm]="{ span: 22, offset: 0 }" [nzXl]="{ span: 6, offset: 0 }">
                                        <img class="imagen" nz-image width="90%" [nzSrc]="' https://files.caucaancestral.com/' + producto?.logo?.url" alt="" />
                                    </div>
                                    <div nz-col [nzXs]="{ span: 23, offset: 0 }" [nzSm]="{ span: 22, offset: 0 }" [nzXl]="{ span: 18, offset: 0 }">
                                        <strong>{{producto.nombre}}</strong><br> {{producto.descripcion | slice: 0:76 }}
                                        <span *ngIf="producto.descripcion.length > 76">
                                            ...
                                        </span>
                                    </div>
                                </div>
                                <nz-divider></nz-divider>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <div nz-row nzJustify="center">
                            <button nz-button nzType="primary" style="background-color:#1890ff; border: 1px solid #1890ff;" nzShape="circle" (click)="onEdit(empresario)" nz-tooltip nzTooltipColor="blue" nzTooltipTitle="Editar">
                            <i nz-icon nzType="edit"></i>
                          </button>
                            <nz-divider nzType="vertical"></nz-divider>
                            <button *ngIf="!empresario.borrado" nz-button nzType="primary" [nzDanger]="true" nzShape="circle" (click)="confirmarBorrar(empresario)" nz-tooltip nzTooltipColor="red" nzTooltipTitle="Eliminar">
                            <i nz-icon nzType="delete"></i>
                          </button>
                            <nz-divider nzType="vertical"></nz-divider>
                            <button nz-button nzType="primary" style="background-color: #680e0e; border: 1px solid #680e0e;" nzShape="circle" (click)="onProducto(empresario.id)" nz-tooltip nzTooltipColor="#680e0e" nzTooltipTitle="Administrar productos">
                            <i nz-icon nzType="cluster" nzTheme="outline"></i>
                          </button>
                        </div>
                    </td>
                </tr> -->
            </tbody>
        </nz-table>
 
        <!-- <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
                <div class="search-box">
                    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Buscar</button>
                    <button nz-button nzSize="small" (click)="reset()">Limpiar</button>
                </div>
            </div>
        </nz-dropdown-menu> -->
 
    </div>
</div>


 