/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100vw;
    height: 100vh;/* 
    border: 1px solid blue; */
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(201, 201, 201);
}